%p#notice= notice
%p
  = image_tag @ad.image.url
  = image_tag @ad.image_hover.url
%p
  = @ad.name
%p
  = @ad.subtitle
%p
  = @ad.link

= link_to 'Edit', edit_ad_path(@ad)
\|
= link_to 'Back', ads_path
