- vote = (@user_votes.detect{|vote| vote.votable_type == 'Comment' && vote.votable_id == comment.id}.try(:rating) if @user_votes)
- vote ||= 0
- level ||= ''
- classes = 'comment ' + level

- if params[:edit_id].to_i == comment.id
  %div{class: classes, id: "comment_#{comment.id}", 'data-id' => comment.id}= render 'comments/form', comment: comment
- else
  %div{class: classes, id: "comment_#{comment.id}", 'data-id' => comment.id}
    = render 'signature', signable: comment, avatar: true, name: true, date: true, nobr_lines: [0], no_flow: true
    .body
      = comment.body.gsub(/\n/, '<br/>').html_safe
      .iconArray.withText<
        = link_to({anchor: "comment_#{comment.id}", reply_id: comment.id}, class: 'cReply') do
          <svg class='icon hoverBack withText'><use xlink:href='#undo' /></svg>Reply
        - if comment.user_id == current_user.try(:id)
          = link_to({anchor: "comment_#{comment.id}", edit_id: comment.id}, class: 'cEdit') do
            <svg class='icon hoverBack withText'><use xlink:href='#pencil' /></svg>Edit
          = link_to comment, method: :delete, remote: true do
            <svg class='icon hoverBack withText'><use xlink:href='#trash' /></svg>Delete
    .voteCounter<
      %span.vote{class: comment.rating > 0 ? 'positive' : comment.rating < 0 ? 'negative' : ''}= comment.rating > 0 ? "+#{comment.rating}" : comment.rating
      - unless !current_user || comment.user_id == current_user.id
        = link_to "<svg class='icon lightBack'><use xlink:href='#thumb' /></svg>".html_safe, vote_path('Comment', comment.id, vote: 'up'  ), class: 'voteUp'  ,  method: :post, remote: true
        = link_to "<svg class='icon lightBack'><use xlink:href='#thumbDown' /></svg>".html_safe, vote_path('Comment', comment.id, vote: 'down'), class: 'voteDown',  method: :post, remote: true

- if params[:reply_id].to_i == comment.id
  %div{class: classes + ' reply'}= render 'comments/form', comment: Comment.new, commentable: comment
  
= render comment.comments.older_first, level: (comment.commentable_type == 'Comment' ? 'tertiary' : 'secondary')