= form_for @bottle, url: params[:action] == 'new' ? brand_bottles_path(@brand) : brand_bottle_path(@bottle.brand_slug,@bottle), html: { multipart: true, class: 'columnForm'} do |f|
  = f.text_field :name, placeholder: t('placeholder.bottle_name')
  #bottleLayers<= render 'upload_preview' if @bottle.layers.count > 0
  = f.file_field :layers, multiple: true, 'data-updatable' => true, class: 'hidden'
  = f.label :layers, t('placeholder.add_images'), class: 'previewButton inline'
  %br
  = f.number_field :volume, min: 0, max: 99, class: 'inline'
  = t('placeholder.volume')
  %br
  = f.number_field :blur, min: 0, max: 100, class: 'inline'
  = t('placeholder.blur')
  = f.submit t('form.preview'), name: 'preview', class: 'previewButton hidden'
  = f.submit
