%section.blockx2<
  .idBlock.user.botomUp
    = image_tag @user.avatar.url('big_thumb'), class: 'left avatar big'
    .info
      %h1= @user.name
      -if is_owner
        .iconArray
          = link_to 'Log out', user_session_path, method: :delete
          = link_to 'Edit', edit_user_path(@user)
  %p#about.clearFix= @user.about
  #userStats<
    = link_to nil, class: 'wide25 inline noDecor' do
      %h4.textLike.smallMargin Entries
      %p.notable 0
    = link_to user_box_path(@user,'collection'), class: 'wide25 inline noDecor' do
      %h4.textLike.smallMargin Collection
      %p.notable= @user.boxes.find_by(slug: 'collection').box_items.count
    = link_to '', class: 'wide25 inline noDecor' do
      %h4.textLike.smallMargin Followers
      %p.notable 0
    = link_to '', class: 'wide25 inline noDecor' do
      %h4.textLike.smallMargin Following
      %p.notable 24
%section.block.left
  - if is_owner
    #quests   
      %h3= t 'user.headers.quests'
    %h3
      = t 'user.headers.invites'
      = link_to get_invite_path, method: 'post', remote: true do
        <svg class='icon button roundButton'><use xlink:href=#plus /></svg>
    %ul#invites
      - (invites = @user.invites).each do |invite|
        %li
          - if invite.used_by
            - user = User.find(invite.used_by)
            %span.inactive= invite.word
            = link_to user do
              = image_tag user.avatar.url('thumb'), class: 'avatar tiny'
              = user.name
          -else
            %span.selectable= invite.word
%section.block.left
  #lists
    = render 'lists'