%section#List.block.left.relative
  = text_field_tag 'box[name]', @box.name, placeholder: 'List Name', id:'boxNameField',style: ('display:none' if !params[:edit] || %(collection wishlist giveaway).include?(@box.slug) ), class: 'formIndent bigMargin smallMargin', 'data-id' => @box.id
  %h1#boxName.smallMargin{style: ('display:none' if params[:edit] && !%(collection wishlist giveaway).include?(@box.slug) )}
    = @box.adapt_name
    - if is_owner
      = link_to gather_user_box_path(@user, @box), style: ('display:none' if params[:edit]), remote: true do
        <svg class='icon button roundButton'><use xlink:href=#plus /></svg>  
  - if is_owner
    = form_tag import_user_box_path(@user, @box), id: 'controls', class: 'controls', multipart: true do
      = label_tag :spreadsheet, content_tag( :span, t('user.import'))
      = file_field_tag :spreadsheet, class: 'hidden', 'data-updatable' => true
      = submit_tag 'import', class: 'hidden', name: 'preview'  
      %span= link_to t('user.export') 
      %span#doneEditing.active{style: ('display:none' unless params[:edit])}= link_to t('form.done_editing'), user_box_path(@user, @box, done_editing: true), remote: true
      %span#goEdit{style: ('display:none' if params[:edit])}= link_to t('form.edit'), edit_user_box_path(@user, @box), remote: true
  
  #secondarySearchResults<
    = render @polishes, big_polish: true
    
  #gather{class: (params[:action] == 'gather' ? 'menu active' : 'menu' )}
    .current
      %span.header
        - if %(collection wishlist giveaway).include?(@box.slug)
          = t('user.lists.' + @box.slug)
        - else
          = @box.name
    = link_to "<svg class='icon' data-activate='#boxesList'><use xlink:href='#x'/></svg>".html_safe, user_box_path(@user,@box.slug), class: 'switch wideAuto', remote: true
    .formLi.smallMargin= render 'search', setup: %w(brand polish), css: 'wide100'
    #searchResults<
      - if params[:action] == 'gather'
        = render @addable, add: true
  
%section#Catalogue.block.left
  .formIndent
    = render 'search', setup: ['polish'], css: 'bigMargin wide100', id: 'secondarySearch'
  
  %h3 Sort by
  #sort.controls
    %span Name 
    %span Stars 
    %span Color 
    %span Time
    
  %h3 Brands
  .tags
    - @brands.each do |brand|
      = link_to brand.name
    
  = render 'lists'

