- if params[:action] == 'gather'
  - if @addable.size > 0
    $('#searchResults').html('#{j(render(@addable, add: true).html_safe)}');
  $('#gather').addClass('active');
  history.pushState({}, '', '/#{params[:user_id]}/#{params[:id]}/gather');
- elsif params[:edit]
  var collection = $('.bigPolish');
  collection.find('.roundButton').show();
  collection.each(function() {
  var id = $(this).data('id');
  $(this).children('a').attr('href', '/collect/' + id + '?box=#{@box.slug}&from_list=true').attr('data-method','post').attr('rel','nofollow').attr('data-remote','true')
  });
  $('#goEdit').hide();
  $('#doneEditing').show();
  - if %(collection wishlist giveaway).include?(@box.slug)
    $('h1').find('a').hide();
  - else 
    $('h1').hide();
    $('#boxNameField').show().focus();
  history.pushState({}, '', '/#{params[:user_id]}/#{params[:id]}/edit');
- else
  - if @polishes.size > 0
    $('#secondaryResults').find('svg.roundButton').hide()
    var collection = $('.bigPolish');
    collection.each(function() {
    var link = $(this).find('.info').find('a').attr('href')
    $(this).children('a').attr('href', link).removeAttr('data-method').removeAttr('rel').removeAttr('data-remote')
    });
  $('#goEdit').show();
  $('#doneEditing').hide();
  $('#gather').removeClass('active');
  $('h1').show();
  $('h1').find('a').show();
  $('#boxNameField').hide();
  history.pushState({}, '', '/#{params[:user_id]}/#{params[:id]}');
