.main
  - # #status= @status
  - # #notice= raw(notice)
  - # -if current_user
  - #   = link_to current_user.name, current_user
  - #   = link_to 'Log out', user_session_path, method: :delete
  %h2.centeredText= t 'welcome.hi'
  .center.centeredText.bottomMargin= t( 'welcome.description')
  #loginForm.block.center.animated
    = form_for @user, url: '/', remote: true do |f|
      = f.hidden_field :locale, value: session[:locale] || I18n.locale
      #idName.table.wide100.tinyMargin
        .cell#avatar
          = image_tag ( @suspect ? @suspect.avatar : '/assets/defaults/avatars/0.png'), class: 'avatar'
        .cell.wide100
          = f.text_field :name, placeholder: t('placeholder.name'), class: 'wide100 inline', autofocus: @focus == 'user_name'
      #idPwd.table.wide100
        .cell.wide100
          %input{type: (@suspect ? 'password' : 'text'), name: 'user[password]', id: 'user_password', class: 'wide100 inline', autocomplete: 'off', placeholder: t('placeholder.password')}
        .cell
          = button_tag class: 'inline noWrap', name: (@button_name), id: 'user_submit' do
            = @submit_text
    
      #phrase.table.wide100.hidden
        .cell.wide100.tinyMargin
          = f.text_field :invite_phrase, autocomplete: 'off', placeholder: t('placeholder.invite_phrase'), autofocus: @focus == 'user_invite_phrase', class: 'wide100 inline'
        .cell
          = button_tag class: 'inline noWrap', name: (@button_name) do
            = t('form.signup')
  .center.centeredText.bigMargin= t( 'welcome.details', link: (link_to '@i.n.p.d', 'https://www.instagram.com/i.n.p.d')).html_safe                        
  - # - if polish = Polish.last
  - #   %p
  - #     = render polish
  - #     = render polish, big_polish: true
  - #     = render polish, add: true
  - #     = render polish, remove: true
  - #     
  - # %p
  - #   = render 'signature', name: true, avatar: true, date: true, stats: true, tags: true, signable: Comment.last
    
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77040000-1', 'auto');
  ga('send', 'pageview');

