#listing.block.left
  %h2
    = link_to_if (params[:controller] != 'brands' || params[:action] != 'show'),  @brand.name, @brand
    - unless %w(new edit).include?(params[:action]) || !current_user
      = link_to new_brand_polish_path(@brand), class: 'tipped relative' do
        .tooltip.tippedR.noWrap
          .tip
          %span= t 'tooltip.new_polish', brand: @brand.name
        %svg.icon.button.inline.roundButton.previewButton
          <use xlink:href=#plus />
  = render 'search', setup: %w(polish), css: 'wide100 autoupdatable', lab_search: true, remote: true     
  #controls.controls.bigMargin
    - cookies[:lab_polish_filter] ||= 'all'
    - %w(all bottle draft).each do |f|
      %span{class: ('active' if cookies[:lab_polish_filter] == f)}
        = link_to_unless cookies[:lab_polish_filter] == f, t('controls.filter_' + f), switch_path('lab_polish_filter', f), method: 'post'

  #searchResults.wide100
  #results.wide100
    = render @polishes, no_vote: true
