%section#listing.block.left
  %h2= link_to_if (params[:controller] != 'brands' || params[:action] != 'show'),  @brand.name, @brand
  = render 'search', setup: %w(polish), css: 'wide100', lab_search: true, remote: true     
  #controls.controls.bigMargin
    %span.selected= 'All'
    %span= link_to 'Not Bottled'
    %span= link_to 'Drafts'
    -#- unless %w(new edit redress).include? params[:action]
    -#  = link_to new_brand_polish_path(@brand) do
    -#    <svg class='icon button inline roundButton'><use xlink:href=#plus /></svg>

  #searchResults.wide100
  #results.wide100
    = render @polishes, no_vote: true