%section#listing.block
  %h2
    = t('lab.brands')
    = link_to new_brand_path do
      <svg class='icon button inline roundButton previewButton'><use xlink:href=#plus /></svg>

  = render 'search', setup: %w(brand), css: 'wide100 autoupdatable', lab_search: true, remote: true
  
  %table#searchResults.wide100.hidden
  #results
    %table.wide100
      = render @brands
    = paginate @brands, window: 1, outer_window: 1

