%aside#ads.block.left
  %h3.bigMargin.inactive 
    Advertisment
    %span.right.textMain= link_to 'Advertize with us'
  %ul.banners<
    %li>
      = ad_items 'one nail'
    %li#charlie.w200<
      = ad_items( 'charming', 2)
    %li.w200>
      = link_to 'http://kurebazaar.com' do
        = image_tag 'ads/kure.jpg'
      = link_to 'http://pshiiit-boutique.com' do
        = image_tag 'ads/pshiiit.png'
        %span
      = link_to 'http://www.sayitwithpolish.com.au' do
        = image_tag 'ads/say_with_polish.jpg'
        %span Celebrate special moments, your way
        
    
