%aside#ads.block.left
  %h3.bigMargin.inactive 
    Advertisment
    %span.right.textMain= link_to 'Advertize with us'
  %ul.banners<
    %li>
      = link_to 'http://www.onenailtorulethemall.co.uk' do
        = image_tag 'ads/one_nail.jpg'
        %span Nail art, reviews, tutorials
    %li.w200>
      = link_to 'http://kurebazaar.com' do
        = image_tag 'ads/kure.jpg'
    %li.w200.left>
      = link_to 'http://pshiiit-boutique.com' do
        = image_tag 'ads/pshiiit.png'
    %li.w200>
      = link_to 'http://www.sayitwithpolish.com.au' do
        = image_tag 'ads/say_with_polish.jpg'
        %span Celebrate special moments, your way

