- set = set_section
- icons = set_nav_icons set
%nav#navBar
  .wrapper
    .main
      = link_to root_path do 
        %span#logo
      %ul#dropMenu.menu.furlable
        - %w(home diary catalogue personal settings lab other).each do |li|
          %li{class: set[li][:class]}
            - if set[li][:if]
              = link_to "<span id='i_#{li}'></span>".html_safe + t('navigation.' + li), set[li][:path]  
            - else
              %span= "<span id='i_#{li}'></span>".html_safe + t('navigation.' + li)
        %li.switchHolder <svg id='dropMenuButton' class='icon switch' data-activate='#dropMenu'><use xlink:href=#down /></svg>
  
      - icons.keys.each do |key|
        = render_nav_icon(icons, key).html_safe
      
      - if current_user
        .right.noWrap.avatar
          - if current_user.events_count > 0
            .notifyWrapper
              .notify= current_user.events_count
          = link_to image_tag(current_user.avatar.thumb.url, id: 'currentUser', class: 'avatar'), current_user
    
      