- if @brand_names.size > 0
  #{@id}Brand.list = #{@brand_names.to_s.html_safe};
  - if @unfit_brand_names.size > 0 && params[:brand].size > 1
    - list_items = @unfit_brand_names.sum{|name| content_tag('li', name, 'aria-selected' => 'false')}
    $('##{@id}Brand').next('ul').attr('hidden',false).append('#{j(list_items).html_safe}');
    
  
- # #{@id}Polish.list = #{@polish_names.to_s.html_safe};

