= form_for [@brand, @polish], html: {multipart: true, id: 'polishForm', class: nil}  do |f|
  .block.main.left.relative
    %h2= t 'lab.titles.polish_' + params[:action]
    - if @polish.errors.any?
      #error_explanation
        %h2= "#{pluralize(@polish.errors.count, "error")} prohibited this polish from being saved:"
        %ul
          - @polish.errors.full_messages.each do |msg|
            %li= msg
            
    #changes
      = fields_for 'changes' do |c|
        - @polish.layers.each do |l|
          = c.hidden_field l.ordering, value: 0
    = f.text_field :prefix, placeholder: t('placeholder.prefix'), class: 'wide100 tinyMargin'
    .table
      .row
        .cell= f.text_field :synonym_list, placeholder: t('placeholder.synonym'), value: (@polish.synonym_list.blank? ? @polish.name : @polish.synonym_list), class: 'wide100', autofocus: 'autofocus'
        .cell.wide25= f.text_field :number, placeholder: t('placeholder.number')
      .row
        .cell= f.text_field :collection, placeholder: t('placeholder.collection')
        .cell.wide25= f.text_field :release_year, placeholder: t('placeholder.year')
    
    - unless simple_form = (params[:action] == 'redress' || params[:redress])
      = f.file_field :reference, class: 'hidden', 'data-updatable' => true
      = f.hidden_field :reference_cache 
      #reference{style: ('display:none' unless @polish.reference?)}
        = image_tag(@polish.reference_url, id: 'reference_image', class: 'wide100')
        = text_field_tag :output, '', id: 'output'
      #loadReference.menu
        .current
          %span.header= t('form.upload_reference')
        .formLi.smallMargin 
          .table.wide100
            .cell= f.label :reference, t('form.choose_file'), class: 'button'
            .cell= f.text_field :remote_reference_url, placeholder: t('placeholder.http')
        <svg class='icon linkLike switch' data-activate='#loadReference'><use xlink:href='#x'/></svg>
      %span#getRef.icon.i64.centered.linkLike.switch.tipped.relative{'data-activate' => '#loadReference'}
        .tooltip.noWrap
          .tip
          %span= t('tooltip.upload_ref')

    
    %h3= t('lab.section.bottle')
    .array<
      - @bottles.each do |bottle|
        .arrayItem>
          = f.radio_button :bottle_id, bottle.id, class: 'hidden', checked: (bottle.id == @polish.bottle_id)
          = f.label "bottle_id_#{bottle.id}", image_tag( bottle.base_thumb_url, class: 'bottleThumb img'), class: 'spotable bottleThumbWrapper'
          = bottle.name
    - unless simple_form        
      %h3= t('lab.section.highlight')
      
      .array<
        - %w(matte wax glass mirror).each do |g|
          .arrayItem>
            = f.radio_button :gloss_type, g, class: 'hidden', checked: g == (@polish.gloss_type || 'glass')
            .spotable= f.label "gloss_type_#{g}" , '&nbsp;'.html_safe, class: 'gloss img'
            = f.label 'gloss_type_' + g, t('lab.section.' + g)
        .arrayItem>
          .colourBack= f.text_field :gloss_colour, class: 'colour noAlpha', value: @polish.gloss_colour || '#dadada'
          = f.label :gloss_colour, t('lab.section.highlight_colour')
      
      .particles
        %h3= t('lab.section.add_layer')
        .array#particles
          - %w(shimmer flake glitter sand fleck).each do |type|
            .arrayItem>
              = link_to_add_layer type, f
        
      - Defaults::MAGNETS.each do |m|
        = f.radio_button :magnet, m, class: 'hidden external uncheckable'
    
      #layers
        - @layers.sort{ |a,b| b.ordering <=> a.ordering}.each do |l|
          - id = l.object_id.to_s
          = f.fields_for :layers, l, child_index: id do |ff|
            = render 'layer_fields', l: ff.object, l_f: ff, f: f, object_id: id
          
      #sliderBaseOpacity 
      .array#labelsBaseOpacity
        - %w(water juice syrup jelly cream).each do |o|
          .arrayItem{id: o + 'Val'}>
            %span{id: o}
            = t 'lab.section.' + o
      = f.hidden_field :opacity, value: @polish.opacity || 87.5, id: 'baseOpacity'
      %h3= t('lab.section.text_input')
      .resizable.relative
        = text_area_tag :yaml, nil, class: 'resizable', rows: nil, cols: nil
        %pre.resizable <span></span>
    - if simple_form
      .inlineWrapper<
        = f.submit t('form.preview'), name: 'preview'
        = f.submit t('form.action.' + params[:action]), name: params[:action]    
  
  - unless simple_form 
    .block#preview.left
      #previewWrapper.previewWrapper.bigMargin
        = render'polish_preview'
      .inlineWrapper<
        = f.submit t('form.preview'), name: 'preview'
        = f.submit t('form.action.' + params[:action]), name: params[:action]
