- stamp = '?' + Time.now.to_s
- if params[:action] == 'new'
  = image_tag image_path('defaults/layer_0.png'), id: 'layer_0', class: 'absolute'
  = image_tag 'defaults/reflection.png', class: 'absolute screen'
- else
  - @layers.sort{|a,b| a.ordering <=> b.ordering}.each_with_index do |layer, i|
    - unless layer.layer_type == 'sand'
      - if @polish.crackle_type
        = image_tag @polish.crackled_url(@polish.layer_tmp(i)) + stamp, id: 'layer_' + layer.ordering.to_s, class: 'absolute'
      - else
        = image_tag @polish.layer_tmp(i) + stamp, id: 'layer_' + layer.ordering.to_s, class: 'absolute'
  = image_tag @polish.gloss_tmp + stamp, class: 'absolute screen'
