- unless polish == @polish
  - remove ||= params[:edit]
  - remove = remove && @box
  - add ||= false
  - add = add && @box
  - big_polish ||= (add || remove)
  - no_vote ||= add
  - no_brand = (@brand.try(:slug) == polish.brand_slug) if no_brand == nil
  
  - if big_polish
    .bigPolish{'data-id' => polish.id}>
      - if add && @box
        = link_to collect_path(polish.id, box: @box.slug, from_catalogue: true), method: :post, remote: true do
          = bottle_or_spinner polish.bottle_url('big'), polish.bottling_status
          <svg class='icon roundButton'><use xlink:href=#plus /></svg>
      - else
        = link_to (remove ? collect_path(polish.id, box: @box.slug, from_catalogue: true) : catalogue_brand_polish_path(polish.brand_slug, polish.slug)), method: (remove ? 'post' : 'get'), remote: remove do
          = bottle_or_spinner polish.bottle_url('big'), polish.bottling_status
          <svg class='icon roundButton important' style='#{('display:none' unless remove)}'><use xlink:href=#trash /></svg>    
      .info
        %p.truncatable= link_to truncate(polish.name_or_number, length: 30, ), catalogue_brand_polish_path(polish.brand_slug, polish.slug)
        - unless no_vote
          .voteBox.relative.center
            = render 'stars', polish: polish
  - else
    .idBlock.polish.noFlow.bottomUp{'data-id' => polish.id}<
      = link_to bottle_or_spinner( polish.bottle_url('thumb'), polish.bottling_status), (in_lab? ? brand_polish_path(polish.brand_slug, polish.slug) : catalogue_brand_polish_path(polish.brand_slug, polish.slug)), class: 'pic'
      .info
        - unless no_brand
          %p= link_to truncate(polish.brand_name, length: 50, omission: '…', separator: / |-|_/), (in_lab? ? brand_path(polish.brand_slug) : catalogue_path(polish.brand_slug))
        %p.truncatable
          %strong
            - if in_lab?
              = link_to ((polish.number + ' ' if polish.number).to_s + polish.name.to_s), brand_polish_path(polish.brand_slug, polish.slug)
            - else
              = link_to polish.name_or_number, catalogue_brand_polish_path(polish.brand_slug, polish.slug)
        - if in_lab?
          = render 'polishes/controls', polish: polish
        - elsif !no_vote
          %p.voteBox
            = render 'stars', polish: polish
    
