.main.left
  %h1.smallMargin
    = link_to @polish.brand_name, catalogue_brand_path( @polish.brand_slug)
    = truncate (' – ' + @polish.name_and_number), length: 50, separator: /_|-| /
  
  %h4
    - if @polish.collection
      = link_to @polish.collection, '#'
    - if @polish.collection
      –
    - if @polish.release_year
      = link_to @polish.release_year, '#'
      ,
    - @colour_names.each_with_index do |colour, i|
      = link_to( colour, catalogue_path(colour: colour)) + (i < @colour_names.size - 1 ? ', ' : '')
  .block.left{'data-id' => @polish.id}>
    = image_tag @polish.bottle_url, class: "left biggestBottle #{'getBottlingStatus' unless @polish.draft || @polish.bottling_status}"
    - unless @polish.draft
      #coatsWrapper.left
        .previewWrapper.medium= image_tag @polish.preview_url
  .block.left
    .idBlock.polishStats.bottomUp<
      .pic.relative>
        <svg class='star'> <use xlink:href='#star'/></svg>
        #rating= @polish.rating.round(1)
      .info>
        #voteBox.voteBox.tipped
          .tooltip{'data-s_1' => t('tooltip.one'),'data-s_2' => t('tooltip.two'),'data-s_3' => t('tooltip.three'),'data-s_4' => t('tooltip.four'),'data-s_5' => t('tooltip.five')}
            .tip
            %span OK
          = render 'stars', polish: @polish
        %p
          %span#votesCount= @polish.votes_count
          = 'vote'.pluralize( @polish.votes_count)
    - if current_user
      = render 'collections'  
      #note.resizable.relative{'data-polish_id' => @polish.id}
        = text_area_tag :body, current_user.notes.find_by_polish_id(@polish.id).try(:body) , placeholder: 'leave a note', class: 'resizable', rows: nil, cols: nil, id:'noteBody'
        %pre.resizable <span></span>
        
  %section
    %h2.clearFix= t 'comments.header'
    - unless params[:edit_id] || params[:reply_id]
      = render 'comments/form', comment: Comment.new, commentable: @polish
    #comments{'data-url' => request.original_url.split('?')[0]}= render @comments
  - if @related  
    %section
      %h2
        = t 'catalogue.titles.similar'
        #sliderSpread{'data-start' => (100 - (cookies[:spread] || 20).to_i), 'data-polish_id' => @polish.id }
      #searchResults
        = render @related, no_brand: false
= render 'ads'
     
