= render 'brands/show'

%section#polish.block.left{'data-id' => @polish.id}>
  %h2.smallMargin= truncate ((@polish.number + ' ' if @polish.number) + @polish.name.to_s), length: 50, separator: /_|-| /
  %h4
    = link_to 'Collection Name', '#'
    –
    = link_to '2012', '#'
  = image_tag @polish.bottle_url, class: 'left biggestBottle'
  - unless @polish.draft
    #coatsWrapper.left= image_tag @polish.preview_url
  %p.clearFix.smallMargin
    - if @synonyms.size > 0
      %strong Synonyms:
      = @synonyms.map(&:name).join(', ')
    %br
    %strong Rating:    
    = @polish.rating.round(3)
    = @polish.votes_count
    = 'vote'.pluralize(@polish.votes_count)
  = render 'polishes/controls', polish: @polish, with_text: true
= render 'ads'
